.title {
	line-height: 26px;
	font-size: 36px;
	font-weight: 700;
}

.heading {
	line-height: 26px;
	font-size: 26px;
	font-weight: 500;
}

.description {
	font-size: 18px;
	font-weight: 300;
}

.bold {
	font-weight: 500;
}

.disable {
	background-color: white;
	border: 5px solid #949292;
	color: #949292;
}
