.container {
	width: 80%;
	height: 80%;

	margin: 0 auto;
}
@media (max-width: 768px) {
	.container {
		width: 100%;
		height: 100vh;
	}
}

.game {
	width: 100%;
	height: 100%;

	background-color: wheat;

	display: flex;

	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 100px;

	border: 10px solid black;

	border-radius: 20px;

	padding: 50px;

	margin: 0 auto;
}

@media (max-width: 768px) {
	.game {
		justify-content: flex-start;
		gap: 50px;
	}
}

.field {
	display: grid;
	grid-template-columns: repeat(auto-fill, 70px);
	grid-auto-flow: row;

	justify-content: center;

	row-gap: 30px;
	column-gap: 100px;

	width: 700px;

	& span {
		cursor: pointer;
	}
}

@media (max-width: 768px) {
	.field {
		width: 300px;
		gap: 25px;
	}
}

.stats {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-around;
	align-items: center;

	& div {
		cursor: pointer;
	}
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	font-size: 40px;

	& a {
		color: black;
	}
}

.lvl {
	font-size: 50px;
}

@media (max-width: 768px) {
	.buttons {
		font-size: 30px;
	}

	.lvl {
		font-size: 35px;
	}
}

.colb {
	display: flex;
	flex-direction: column;

	justify-content: flex-end;

	border: 5px solid black;

	border-radius: 0 0 30px 30px;

	overflow: hidden;

	width: 70px;
	height: 200px;

	transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
	.colb {
		width: 60px;
		height: 150px;
	}
}

.select {
	transform: scale(1.1);
}

.color {
	width: 100%;
	height: 40px;
}

@media (max-width: 768px) {
	.color {
		height: 30px;
	}
}

.gray {
	background-color: gray;
}

.purple {
	background-color: purple;
}

.green {
	background-color: greenyellow;
}

.orange {
	background-color: orangered;
}

.yellow {
	background-color: yellow;
}

.blue {
	background-color: blue;
}

.blackgreen {
	background-color: green;
}

.brown {
	background-color: brown;
}

.none {
	background-color: rgba($color: #000000, $alpha: 0);
}

.popup {
	position: absolute;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: rgba($color: #000000, $alpha: 0.5);

	display: flex;
	align-items: center;
	justify-content: center;
}

.menu {
	background-color: wheat;
	border: 2px solid black;
	border-radius: 20px;

	width: 300px;
	height: 300px;

	padding: 50px;

	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 30px;
}

.popuptitle {
	text-align: center;
	font-size: 30px;
}

.popupButtons {
	width: 100%;

	display: flex;
	justify-content: space-between;

	& a {
		font-size: 20px;
		color: black;

		border: 1px solid black;
		border-radius: 20px;

		padding: 5px 10px;

		transition: transform 0.3s ease-in-out;

		&:hover {
			transform: scale(1.05);
		}
	}
}
